<launch>
    <!-- <arg name="map_file" default="$(my_turtlebot_mapping)/maps/map_new.yaml"/> -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find my_turtlebot_mapping)/maps/map_new.yaml" />
</launch>
<!-- <launch>
    <node name="map_server" pkg="map_server" type="map_server" args="$(/home/ruyzang/catkin_ws/src/my_map.yaml)" />
</launch> -->